.top {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.timeClock,
.score {
  font-size: 3rem;
  border: solid black 3px;
  border-radius: 0.5rem;
  background-color: white;
  height: auto;
  text-align: center;
  white-space: nowrap;
  margin: 0px 30px;
  margin-top: 10px;
  padding: 8px;
}

.timeClock {
  width: 200px;
}

.score {
  width: 180px;
}

.box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;

}

.startCountdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
}

.startText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
}

/* balls */
.ballsContainer {
  width: 100%;
  height: 60vh;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
}

.ballBox{
  height: auto;
  position: absolute;
  /* overflow: hidden; */
}

.ballImg{
  width: 10vh;
  height: auto;
}

.balls {
  width: auto;
  display: flex;
  flex-direction: column;
}

.blueBall, .pinkBall,
.greenBall, .orangeBall {
  width: 6vw;
  max-width: 130px;
  height: auto;
}

/* goalposts */
.goalPostsContainer {
  width: 100%;
  height: 85vh;
  margin: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.goalPosts {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  /* 텍스트 선택 막기 */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* 인터넷익스플로러 */
  user-select: none;
}

.blueGoalpost, .pinkGoalpost,
.greenGoalpost, .orangeGoalpost{
  width: 150px;
  height: 150px;
  margin: 20px;
}

.blueGoalpost, .orangeGoalpost {
  margin-bottom: 170px;
}

.pinkGoalpost, .greenGoalpost {
  margin-bottom: 70px;
}

.pinkGoalpost {
  margin-left: 0;
  margin-right: 30px;
}

.greenGoalpost {
  margin-left: 30px;
  margin-right: 0;
}

/* @keyframes moveBallBlue {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform:
      translate(-1500px, 1200px);
  }
}

@keyframes moveBallPink {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform:
      translate(-450px, 1200px);
  }

}

@keyframes moveBallGreen {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform:
      translate(580px, 1200px);
  }
}

@keyframes moveBallOrange {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform:
      translate(1500px, 1200px);
  }
} */

/* @keyframes moveBallBlue {
  from {
    transform: translate(0, 0);
  }
  to {
    transform:
      translate(-1500px, 1200px);
  }
}

@keyframes moveBallPink {
  from {
    transform: translate(0, 0);
  }
  to {
    transform:
      translate(-450px, 1200px);
  }

}

@keyframes moveBallGreen {
  from {
    transform: translate(0, 0);
  }
  to {
    transform:
      translate(580px, 1200px);
  }
}

@keyframes moveBallOrange {
  from {
    transform: translate(0, 0);
  }
  to {
    transform:
      translate(1500px, 1200px);
  }
} */



/* .blueAnimation {
  animation: moveBallBlue 0.3s linear forwards;
}

.pinkAnimation {
  animation: moveBallPink 0.3s linear forwards;
}

.greenAnimation {
  animation: moveBallGreen 0.3s linear forwards;
}

.orangeAnimation {
  animation: moveBallOrange 0.3s linear forwards;
} */

/* .active {
  animation-name: insertgoalAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
} */


/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal form {
  background-color: #fff;
  padding: 20px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.modalscore {
  width: 30rem;
  margin-bottom: 10px;
  padding: 1.5rem 1rem 0.5rem 1rem;
  font-size: 1.4rem;
  font-family: "esamanru";
  color: #444;
}

.modal form input{
  width: 30rem;
  margin-bottom: 10px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  color: #666;
  font-size: 1rem;
  font-family: "esamanru";
}
.modal form input:focus{
  outline: none;
}

.warning {
  color: #888;
  padding-left: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}  

.buttonContainer button {
  width: 6rem;
  height: 2.75rem;
  background-color: rgba(144, 221, 255, 0.7);
  border: 0.2rem solid #00A7F1;
  border-radius: 0.5rem;
  font-family: "esamanru";
  color: #666;
  /* 텍스트 선택 막기 */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* 인터넷익스플로러 */
  user-select: none;
}
.buttonContainer button:hover {
  background-color: rgba(107, 210, 255, 0.7);
}

.mainpgbtn {
  width: 50px;
  height: 50px;
}
.mainpg-btn {
  font-family: "esamanru";
  font-size: 220%;
  background-color: rgba(144, 221, 255, 0.7);
  border: 7px solid #00A7F1;
  border-radius: 1rem;
  cursor: pointer;
  white-space: nowrap;
  z-index: 1000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 30px;
}
.mainpg-btn:hover {
  background-color: rgba(144, 221, 255, 0.9);
  box-shadow: 0 0 44px white;
  /* transform: translateY(-1rem); */
  transition: 0.3s;
}
.mainpg-icon{
  width: 35px;
  height: auto;
  padding: 10px;
  opacity: 0.7;
}


@media screen and (max-width: 1920px) {  
  /* @keyframes moveBall {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform:
        translate(-600px, 450px); 
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  @keyframes moveBallPink {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform:
        translate(-170px, 550px); 
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  @keyframes moveBallGreen {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform:
        translate(180px, 550px); 
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  @keyframes moveBallOrange {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform:
        translate(550px, 430px);
    }
    100% {
      transform: translate(0, 0);
    }
  } */
  
  .blueAnimation {
    animation: moveBallBlue 0.5s linear forwards;
  }
  
  .pinkAnimation {
    animation: moveBallPink 0.5s linear forwards;
  }
  
  .greenAnimation {
    animation: moveBallGreen 0.5s linear forwards;
  }
  
  .orangeAnimation {
    animation: moveBallOrange 0.5s linear forwards;
  }
  
}

@media screen and (max-width: 1000px) {  
  .blueBall, .pinkBall,
  .greenBall, .orangeBall {
    width: 80px;
    height: 80px;
  }
  
  .blueGoalpost, .orangeGoalpost {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 900px) {
  .timeClock,
  .score {
    font-size: 2.5rem;
    padding: 5px;
  }

  .timeClock {
    width: 190px;
  }
  
  .score {
    width: 160px;
  }
  
  .blueGoalpost, .pinkGoalpost,
  .greenGoalpost, .orangeGoalpost{
    width: 110px;
    height: 110px;
  }
  
  .blueGoalpost, .orangeGoalpost {
    margin-bottom: 140px;
  }

  .pinkGoalpost, .greenGoalpost {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 650px) {
  .timeClock,
  .score {
    font-size: 2.25rem;
  }

  .timeClock {
    width: 170px;
  }
  
  .score {
    width: 150px;
  }

  
  .blueGoalpost, .pinkGoalpost,
  .greenGoalpost, .orangeGoalpost{
    width: 110px;
    height: 110px;
  }
  
  .blueGoalpost, .orangeGoalpost {
    margin-bottom: 140px;
  }

  .pinkGoalpost, .greenGoalpost {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 5120px) and (min-height: 2880px) {
  .startCountdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14rem;
    font-weight: bold;
  }
  
  .startText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14rem;
    font-weight: bold;
  }

  .timeClock,
  .score {
    font-size: 11.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 6vh;
  }

  .timeClock {
    width: 18vw;
    height: 10vh;
    margin-right: 8vw;
  }
  
  .score {
    width: 16vw;
    height: 10vh;
    margin-left: 8vw;
  }
  
  .blueGoalpost, .pinkGoalpost,
  .greenGoalpost, .orangeGoalpost{
    width: 10vw;
    height: auto;
  }
  
  .blueGoalpost, .orangeGoalpost {
    margin-bottom: 17vh;
  }

  .pinkGoalpost, .greenGoalpost {
    margin-bottom: 10vh;
  }
}