/* @font-face {
  font-family: "esamanru";
  src: url("../fonts/esamanru\ Medium.ttf");
} */

* {
  padding: 0;
  margin: 0;
}

.balls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blueball {
  position: absolute;
  width: 200px;
  top: 50px;
}
.orangeball {
  position: absolute;
  width: 200px;
  top: 120px;
}
.pinkball {
  position: absolute;
  width: 200px;
  top: 190px;
}
.greenball {
  position: absolute;
  width: 200px;
  top: 260px;
}

.goal-posts {

}
.blue-goalpost {
  float: right;
}
.orange-goalpost {
  float: right;
}
.pink-goalpost {
  float: left;
}
.green-goalpost {
  float: left;
}