@font-face {
  font-family: "esamanru";
  src: url("../fonts/esamanru\ Medium.ttf");
}

/* 점수판 글자들 각각 띄우기 
   위에 점수판, 시간제한 정렬하기
   배경 넣기
   농구공 이미지 통일하기 
   스크롤 안 뜨게 하기 */

* {
  padding: 0;
  margin: 0;
}

.box {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.top {
  width: 100%;
  height: 20vh;
}
.top .score {
  font-size: 3rem;
  font-family: 'esamanru';
  border: solid green 10px;
  width: 200px;
  margin: 20px;
  text-align: center;
  letter-spacing: 5px;
}
.top .time-clock {
  font-size: 3rem;
  font-family: 'esamanru';
  border: solid black 3px;
  width: 200px;
  margin: 20px;
  text-align: center;
  white-space: nowrap;
}

.balls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blueBall {
  position: absolute;
  width: 170px;
  top: 70px;
}
.orangeBall {
  position: absolute;
  width: 170px;
  top: 140px;
}
.pinkBall {
  position: absolute;
  width: 170px;
  top: 210px;
}
.greenBall {
  position: absolute;
  width: 170px;
  top: 280px;
}

.goal-posts {

}
.blue-goalpost {
  float: right;
  margin-top: 260px;
  margin-right: 150px;
  width: 210px;
}
.orange-goalpost {
  float: right;
  margin-top: 400px;
  width: 210px;
}
.pink-goalpost {
  float: left;
  margin-top: 260px;
  margin-left: 150px;
  width: 210px;
}
.green-goalpost {
  float: left;
  margin-top: 400px;
  margin-right: 300px;
  width: 210px;
}

@media all and (max-width: 1024px)  {
  .blueBall {
    position: absolute;
    width: 170px;
    top: 100px;
  }
  .orangeBall {
    position: absolute;
    width: 170px;
    top: 170px;
  }
  .pinkBall {
    position: absolute;
    width: 170px;
    top: 240px;
  }
  .greenBall {
    position: absolute;
    width: 170px;
    top: 310px;
  }
  
  .blue-goalpost {
    float: right;
    margin-top: 260px;
    margin-right: 150px;
    width: 210px;
  }
  .orange-goalpost {
    float: right;
    margin-top: 400px;
    width: 210px;
  }
  .pink-goalpost {
    float: left;
    margin-top: 260px;
    margin-left: 150px;
    width: 210px;
  }
  .green-goalpost {
    float: left;
    margin-top: 400px;
    margin-right: 300px;
    width: 210px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px)  {
  .top {
    width: 100%;
    height: 30vh;
  }
  .top .score {
    font-size: 3rem;
    font-family: 'esamanru';
    border: solid green 10px;
    text-align: center;
    letter-spacing: 5px;
  }
  .top .time-clock {
    font-size: 3rem;
    font-family: 'esamanru';
    padding: 5px;
    border: solid black 3px;
    text-align: center;
    white-space: nowrap;
  }

  .blueBall {
    position: absolute;
    width: 160px;
    top: 60px;
  }
  .orangeBall {
    position: absolute;
    width: 160px;
    top: 130px;
  }
  .pinkBall {
    position: absolute;
    width: 160px;
    top: 200px;
  }
  .greenBall {
    position: absolute;
    width: 160px;
    top: 270px;
  }
  
  .blue-goalpost {
    float: right;
    margin: 0 100px 0 0;
    width: 200px;
  }
  .orange-goalpost {
    float: right;
    margin: 50px 50px 0 0;
    width: 210px;
  }
  .pink-goalpost {
    float: left;
    margin: 0 0 0 90px;
    width: 210px;
  }
  .green-goalpost {
    float: left;
    margin: 260px 50px 0 0;
    width: 210px;
  }
}

@media all and (max-width: 767px)  {
  
}